name: build and push docker image

on:
 push:
   branches:
    - develop
    - staging
    - main

jobs:
  build and push:
    runs-on: ubuntu-latest

  steps:
   - name: checkout repository
     uses: actions/checkout@v3

   - name: set environment variables
     id: set-env
     run:
      BRANCH_NAME=${GITHUB_REF##*/}

      if [ "$BRANCH_NAME" = "develop" ]; then
        ENVIRONMENT=development
      elif [ "$BRANCH_NAME" = "staging" ]; then
        ENVIRONMENT=staging
      elif [ "BRANCH_NAME" = "main" ]; then
        ENVIRONMENT=production
      else
        echo"unsupported branch"
        exit 1
      fi

SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)

          echo "REACT_APP_ENVIRONMENT=$ENVIRONMENT" >> $GITHUB_ENV
          echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_ENV
          echo "ENVIRONMENT=$ENVIRONMENT" >> $GITHUB_ENV

- name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

- name: Build Docker image
        run: |
          docker build \
            --build-arg REACT_APP_ENVIRONMENT=${{ env.REACT_APP_ENVIRONMENT }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/react-env-app:${{ env.ENVIRONMENT }}-${{ env.SHORT_SHA }} \
            .

- name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/react-env-app:${{ env.ENVIRONMENT }}-${{ env.SHORT_SHA }}




